body {
    background-color: aqua;
    color: black
}

h1 {
    text-align: center;
    color: firebrick;
    font-size: 40px;
    background-color: cornflowerblue;
}

h2 {
    font-family: cursive;
}