*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 50px;
}



h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

input {
    height: 30px;
    width: 300px;
    border: 3px solid black;
    font-size: 18px;
    padding: 3px;
}

span {
    font-weight: bold;
}

.btn {
    font-size: 18px;
    border: 3px solid black;
    padding: 5px 10px;
    box-shadow: 5px 5px black;
}

.box1 {
    border: 3px solid black;
    display: flex;
    padding: 25px;
    align-items: center;
    gap: 50px;
    margin-bottom: 25px;
}

.box1 > p {
    font-size: 18px;
    min-width: 30ch;
}
/* -------------------------------------- NAV BAR ------------------------------ */
#nav {
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 25px;
}

h1 {
    font-size: 50px;
}

#login {
    background-color: #2B78E4;
    color: white;
}
/* ------------------------------------------------------------------------------ */
#main {
    justify-content: center;
    display: flex;
    gap: 25px;
}

#col1 {
    flex: 2;
}

.leftDef > * {
    margin-bottom: 10px;
    text-align: center;
}

.likeBtn {
    margin-top: 10px;
    margin-bottom: 0px;
    min-width: 12ch;
    background-color: #FFD966;
}

#col2 {
    flex: 1;
}

#addDefCont {
    display: block;
}

#addDefBtn {
    background-color: #93C47D;
    min-width: 14ch;
    padding: 5px 25px;
}